/* Start Global Rules */

* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}
/* End Global Rules */

/* Start Variables */

/* End Variables */

.parent {
  background-color: #eee;
}

.container {
  background-color: #aaa;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
